<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="null" onclick="return false;"  (click)="doNothing()">
    @if (navBarSignal(); as navBar) {
      {{navBar.brandText}}
    }
  </a>
  <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler hidden-sm-up" type="button" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
    @if (navBarSignal(); as navBar) {
      <ul class="navbar-nav me-auto">
        @for (item of navBar.menuItems; track item.targetModule) {
          <li [ngClass]="{'active': item.targetModule === navBar.currentModule}" class="nav-item">
            <a [class.nav-link-active]="item.targetModule === navBar.currentModule" [attr.href]="item.targetModule === navBar.currentModule ? null : '#'"
              class="nav-link"
            (click)="item.targetModule === navBar.currentModule ? doNothing() : menuItemClick(item.targetModule, item.initialModule)">{{item.text}}</a>
          </li>
        }
      </ul>
    }
  </div>
</nav>